{% extends 'config/create_config.html' %}
{% load user_filters %}

{% block content %}
<h1>{{ title }}</h1>
<br>
<form action="{% url name_form %}" method="post">
    {% csrf_token %}

    {% for f in form %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ f.label }}</label>
            <div class="col-sm-3">{{ f|addclass:"form-control" }}</div>
            {% if f.errors %}
                <div class="alert alert-danger">
                    {{ f.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <br>
    <button type="submit" class="btn btn-primary">Create config</button>

</form>

{% endblock  %}